---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=kansas%20city,%20mo&open_at=1564451078&term=bbq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mX5uLjmCuUsm-nG3bCKU2bmNFN_fca-qLTju6LRSXgCQmFqfBZDF3IROzkpv_r4ID5RcoCFrjE4CEC_TVJIEpMXrzYMLUJ8J-ipFm5EffcQTm_YH_Rlg2_fptRY_XXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4898'
      Ratelimit-Resettime:
      - '2019-07-31T00:00:00+00:00'
      X-Zipkin-Id:
      - 9df0396c02454ec2
      X-Proxied:
      - 10-64-146-52-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "34I8ATMlKT6ZT3G69qwu0g", "alias": "q39-midtown-kansas-city",
        "name": "Q39 - Midtown", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/V5INh2iQmRxc28MHhjO93A/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/q39-midtown-kansas-city?adjust_creative=1QgyUcZDF_oTR_FjLXyuCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=1QgyUcZDF_oTR_FjLXyuCQ",
        "review_count": 3641, "categories": [{"alias": "bbq", "title": "Barbeque"},
        {"alias": "bars", "title": "Bars"}, {"alias": "tradamerican", "title": "American
        (Traditional)"}], "rating": 4.5, "coordinates": {"latitude": 39.05737, "longitude":
        -94.59787}, "transactions": ["restaurant_reservation"], "price": "$$", "location":
        {"address1": "1000 W 39th St", "address2": "", "address3": "", "city": "Kansas
        City", "zip_code": "64111", "country": "US", "state": "MO", "display_address":
        ["1000 W 39th St", "Kansas City, MO 64111"]}, "phone": "+18162553753", "display_phone":
        "(816) 255-3753", "distance": 3192.178789184351}, {"id": "QhzJXO6E_oLAx1Wz1Z_T2g",
        "alias": "joes-kansas-city-bar-b-que-kansas-city-3", "name": "Joe''s Kansas
        City Bar-B-Que", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/yDnNC9K0SWnOOV2IEyOCjw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/joes-kansas-city-bar-b-que-kansas-city-3?adjust_creative=1QgyUcZDF_oTR_FjLXyuCQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=1QgyUcZDF_oTR_FjLXyuCQ",
        "review_[...]
