---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=kansas%20city,mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=8688&query=kansas+city%2Cmo>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=kansas+city%2Cmo>;
        rel="next"
      X-Total:
      - '86875'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":86875,"total_pages":8688,"results":[{"id":"7stu1KayXkg","created_at":"2019-06-16T13:24:17-04:00","updated_at":"2019-07-14T01:18:00-04:00","width":5184,"height":3456,"color":"#1D1C1D","description":null,"alt_description":"landscape
        photo of a city skyline","urls":{"raw":"https://images.unsplash.com/photo-1560705852-77dc524d5804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzOTAyfQ","full":"https://images.unsplash.com/photo-1560705852-77dc524d5804?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzOTAyfQ","regular":"https://images.unsplash.com/photo-1560705852-77dc524d5804?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","small":"https://images.unsplash.com/photo-1560705852-77dc524d5804?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","thumb":"https://images.unsplash.com/photo-1560705852-77dc524d5804?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ"},"links":{"self":"https://api.unsplash.com/photos/7stu1KayXkg","html":"https://unsplash.com/photos/7stu1KayXkg","download":"https://unsplash.com/photos/7stu1KayXkg/download","download_location":"https://api.unsplash.com/photos/7stu1KayXkg/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"user":{"id":"113gcW6I08A","updated_at":"2019-08-06T02:49:15-04:00","username":"dtbosse","name":"Daniel
        Bosse","first_name":"Daniel","last_name":"Bosse","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Spring
        Hill, Kansas","links":{"self":"https://api.unsplash.com/users/dtbosse","html":"https://unsplash.com/@dtbosse","photos":"https://api.unsplash.com/users/dtbosse/photos","likes":"https://api.unsplash.com/users/dtbosse/likes","portfolio":"https://api.unsplash.com/users/dtbosse/portfolio","following":"https://api.unsplash.com/users/dtbosse/following","followers":"https://api.unsplash.com/users/dtbosse/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1555297174558-c5b103435083?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1555297174558-c5b103435083?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1555297174558-c5b103435083?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"dan_bosse","total_collections":18,"total_likes":636,"total_photos":35,"accepted_tos":true},"tags":[{"title":"urban"},{"title":"metropolis"},{"title":"city"},{"title":"town"},{"title":"building"},{"title":"tower"},{"title":"architecture"},{"title":"spire"},{"title":"steeple"},{"title":"downtown"},{"title":"road"},{"title":"outdoors"},{"title":"office
        building"},{"title":"kansas city, mo"},{"title":"nature"},{"title":"water"},{"title":"high
        rise"},{"title":"freeway"},{"title":"intersection"},{"title":"neighborhood"}]},{"id":"xiqQX_xfcBs","created_at":"2019-05-04T16:05:22-04:00","updated_[...]
