---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination&key=<GOOGLE_API_KEY>&origin=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "Invalid request. Missing the 'destination' parameter.",
           "routes" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Tue, 30 Jul 2019 02:23:02 GMT
recorded_with: VCR 5.0.0
