---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=dd3e9a5e6d4d4e3c910754795ec90924d032421cf988c97280e021e4fe49f0b1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=dd3e9a5e6d4d4e3c910754795ec90924d032421cf988c97280e021e4fe49f0b1&page=30&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=dd3e9a5e6d4d4e3c910754795ec90924d032421cf988c97280e021e4fe49f0b1&page=2&query=denver>;
        rel="next"
      X-Total:
      - '297'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":297,"total_pages":30,"results":[{"id":"tjoxkIODoCE","created_at":"2018-12-30T03:02:24-05:00","updated_at":"2019-07-28T01:16:59-04:00","width":5472,"height":3648,"color":"#151613","description":null,"alt_description":"aerial
        photo of city","urls":{"raw":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzOTAyfQ","full":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzOTAyfQ","regular":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","small":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","thumb":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ"},"links":{"self":"https://api.unsplash.com/photos/tjoxkIODoCE","html":"https://unsplash.com/photos/tjoxkIODoCE","download":"https://unsplash.com/photos/tjoxkIODoCE/download","download_location":"https://api.unsplash.com/photos/tjoxkIODoCE/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":10,"liked_by_user":false,"current_user_collections":[],"user":{"id":"3NS5bv8kZU4","updated_at":"2019-07-06T02:04:23-04:00","username":"theadventurebitch","name":"Cassie
        Gallegos","first_name":"Cassie","last_name":"Gallegos","twitter_username":"adventure_bitch","portfolio_url":"Https://www.theadventurebitch.com","bio":"Personal
        Instagram: @TheAdventureBitch\r\nPhotography Instagram: @TejasPrints","location":"Denver,
        CO","links":{"self":"https://api.unsplash.com/users/theadventurebitch","html":"https://unsplash.com/@theadventurebitch","photos":"https://api.unsplash.com/users/theadventurebitch/photos","likes":"https://api.unsplash.com/users/theadventurebitch/likes","portfolio":"https://api.unsplash.com/users/theadventurebitch/portfolio","following":"https://api.unsplash.com/users/theadventurebitch/following","followers":"https://api.unsplash.com/users/theadventurebitch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Theadventurebitch","total_collections":3,"total_likes":0,"total_photos":16,"accepted_tos":true},"tags":[{"title":"landscape"},{"title":"outdoors"},{"title":"nature"},{"title":"scenery"},{"title":"panoramic"},{"title":"city"},{"title":"plant"},{"title":"tree"},{"title":"city
        park"},{"title":"urban"},{"title":"building"},{"title":"town"},{"title":"water"},{"title":"downtown"},{"title":"denver,
        colorado"},{"title":"united states"},{"title":"grass"},{"title":"fir"},{"title":"abies"},{"title":"park"}]},{"id":"chaqHXlOzYs","created_at":"2018-02-23T17:18:23-05:00","updated_at":"2019-07-28T01:14:16[...]
