---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&query=kansas%20city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=8361&query=kansas+city>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&query=kansas+city>;
        rel="next"
      X-Total:
      - '83601'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":83601,"total_pages":8361,"results":[{"id":"QipZr29K7Mw","created_at":"2019-06-24T12:35:32-04:00","updated_at":"2019-07-28T01:31:43-04:00","width":6000,"height":4000,"color":"#EC8E71","description":null,"alt_description":"building
        during nighttime with lights","urls":{"raw":"https://images.unsplash.com/photo-1561393930-8c83ca7d2060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjgzOTAyfQ","full":"https://images.unsplash.com/photo-1561393930-8c83ca7d2060?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjgzOTAyfQ","regular":"https://images.unsplash.com/photo-1561393930-8c83ca7d2060?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","small":"https://images.unsplash.com/photo-1561393930-8c83ca7d2060?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ","thumb":"https://images.unsplash.com/photo-1561393930-8c83ca7d2060?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjgzOTAyfQ"},"links":{"self":"https://api.unsplash.com/photos/QipZr29K7Mw","html":"https://unsplash.com/photos/QipZr29K7Mw","download":"https://unsplash.com/photos/QipZr29K7Mw/download","download_location":"https://api.unsplash.com/photos/QipZr29K7Mw/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":0,"liked_by_user":false,"current_user_collections":[],"user":{"id":"TIQrDEWQNfA","updated_at":"2019-07-25T06:46:06-04:00","username":"britozour","name":"Briana
        Tozour","first_name":"Briana","last_name":"Tozour","twitter_username":"britozourdesign","portfolio_url":"https://www.britozourdesign.com/","bio":"Hi
        I''m Briana! Travel is my passion and photography is the way I document all
        of those moments and memories! Illustration and design are my hobbies--and
        also my job (how awesome is that, right?!) Check out my recent work to be
        a part of my adventure!","location":null,"links":{"self":"https://api.unsplash.com/users/britozour","html":"https://unsplash.com/@britozour","photos":"https://api.unsplash.com/users/britozour/photos","likes":"https://api.unsplash.com/users/britozour/likes","portfolio":"https://api.unsplash.com/users/britozour/portfolio","following":"https://api.unsplash.com/users/britozour/following","followers":"https://api.unsplash.com/users/britozour/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1561394840246-d6c12406c62c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1561394840246-d6c12406c62c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1561394840246-d6c12406c62c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"britozour","total_collections":0,"total_likes":0,"total_photos":68,"accepted_tos":true},"tags":[{"title":"urban"},{"title":"downtown"},{"title":"town"},{"title":"building"},{"title":"city"},{"title":"metropolis"},{"title":"landscape"},{"title":"united
        states"},{"title":"missouri"},{"title":"outdoors"},{"title":"nature"},{"title":"architecture"},{"title":"night
        life"},{"title":"panoramic"},{"title":"scenery"},{"title":"night"},{"title":"sky"},{"title":"high
        rise"},{"title":"office building"},{"title":"road"}]},{"id":"x2L61xKRrmo","created_at":"2019-06-24T12:35:32-04:00","upda[...]
